# requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
#ipython~=8.28.0
ipython~=8.18.1
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
psutil~=6.0.0
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
thop>=0.1.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.64.0
# protobuf<=3.20.1

# Logging ---------------------------------------------------------------------
# clearml>=1.2.0
# comet

# Plotting --------------------------------------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export ----------------------------------------------------------------------
# coremltools>=6.0
# onnx>=1.9.0
# onnx-simplifier>=0.4.1
# nvidia-pyindex
# nvidia-tensorrt
# scikit-learn<=1.1.2
# tensorflow>=2.4.1
# tensorflowjs>=3.9.0
# openvino-dev

# Deploy ----------------------------------------------------------------------
# tritonclient[all]~=2.24.0

# Extras ----------------------------------------------------------------------
# mss
pycocotools>=2.0

yaml~=0.2.5
onnxruntime~=1.18.1
setuptools~=69.5.1
pyapriltags~=3.3.0.3
pyrealsense2~=2.55.1.6486
ultralytics~=8.3.13
open3d~=0.18.0
lxml~=5.2.1